[Desktop Entry]
Name=Layout Manager
Comment=bspwm Layout Manager
Exec=/usr/bin/blm menu
Icon=preferences-system-windows
Terminal=false
Type=Application
Categories=Utility;
Keywords=bspwm;layout;workspace;
